Exchange Whales Ratio

거래소 입금액 파생 데이터

상위 10위 거래소 입금액 / 전체 입금액


소스데이터
https://cryptoquant.com/ko/asset/btc/chart/exchange-flows/exchange-inflow-top10?exchange=all_exchange&window=DAY&sma=0&ema=0&priceScale=log&metricScale=linear&chartStyle=line

In [92]:
import os
from glob import glob
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import json
import datetime
import matplotlib.dates as mdates

In [93]:
def ts_to_dt(timestamp):
    datetimeobj = datetime.datetime.fromtimestamp(timestamp/1000, datetime.timezone.utc)
    return datetimeobj


def json_to_df(path, type='non_price'):
     if type != 'price':
          with open(path, 'r') as j:
               contents = json.loads(j.read())

          df = pd.DataFrame(contents['result']['data'])
          df.columns = ['timestamp', 'value']

          df['date'] = df['timestamp'].apply(ts_to_dt).astype(str).apply(lambda x: x[:10])
          df = df.set_index('date')
          df = df[['value']]
          df = df.iloc[:-1]
          return df
     elif type == 'price':
          with open(path, 'r') as j:
               contents = json.loads(j.read())

          df = pd.DataFrame(contents['data'])
          df.columns = ['timestamp', 'value']

          df['date'] = df['timestamp'].apply(ts_to_dt).astype(str).apply(lambda x: x[:10])
          df = df.set_index('date')
          df = df[['value']]
          df = df.iloc[:-1]
          return df

In [94]:
json_to_df(price_list[0], type='price')

               value
date
2022-03-04  1.348270
2022-03-05  1.358412
2022-03-06  1.303264
2022-03-07  1.272315
2022-03-08  1.297222
...              ...
2025-02-27  0.246267
2025-02-28  0.241434
2025-03-01  0.242600
2025-03-02  0.257934
2025-03-03  0.224039

[1096 rows x 1 columns]

In [95]:
top10_exchange_list = glob('./top10/*.json')
total_deposit_exchange_list = glob('./total_deposit_exchange/*.json')
price_list = glob('./price/*.json')
name_list = []
for total in total_deposit_exchange_list:
    name_list.append(total[25:-5])

In [96]:
json_to_df(price_list[11], type='price')

                   value
date
2022-03-04  39159.177767
2022-03-05  39408.889880
2022-03-06  38418.576257
2022-03-07  38001.870265
2022-03-08  38739.769721
...                  ...
2025-02-27  84792.374287
2025-02-28  84500.853924
2025-03-01  86103.128568
2025-03-02  94311.605002
2025-03-03  86158.660287

[1096 rows x 1 columns]

In [97]:
name_list

['1inch',
 'aave',
 'agld',
 'alcx',
 'alice',
 'amp',
 'ankr',
 'axs',
 'bal',
 'bat',
 'bnt',
 'btc',
 'chz',
 'comp',
 'crv',
 'dodo',
 'dydx',
 'enj',
 'ens',
 'ern',
 'eth',
 'fet',
 'ghst',
 'grt',
 'gtc',
 'hot',
 'ilv',
 'jasmy',
 'knc',
 'link',
 'mana',
 'mask',
 'matic',
 'mkr',
 'nmr',
 'ogn',
 'omg',
 'qnt',
 'sand',
 'shib',
 'skl',
 'slp',
 'snx',
 'storj',
 'sushi',
 'uma',
 'uni',
 'usdc',
 'usdt',
 'yfi',
 'ygg',
 'zrx']

In [98]:
all_parts = []  # Collect all data to concatenate outside the loop
for total, top10, price, name in zip(total_deposit_exchange_list, 
                                     top10_exchange_list, 
                                     price_list, 
                                     name_list):
    total_part_df = json_to_df(total).add_prefix(f'total_{name}_')
    top10_part_df = json_to_df(top10).add_prefix(f'top10_{name}_')
    price_part_df = json_to_df(price, type='price').add_prefix(f'price_{name}_')
    
    combined_df = pd.concat([total_part_df, top10_part_df, price_part_df], axis=1)
    combined_df = combined_df.dropna()
    combined_df[f'deposit_volume_{name}_values'] = combined_df[f'total_{name}_value'] * combined_df[f'price_{name}_value']
    all_parts.append(combined_df)

# Combine all data into one final DataFrame
final_df = pd.concat(all_parts, axis=1, ignore_index=False)
print(final_df)

            total_1inch_value  top10_1inch_value  price_1inch_value  \
date
2022-03-04       1.525460e+06       2.005504e+05           1.348270
2022-03-05       3.592247e+05       8.863093e+04           1.358412
2022-03-06       3.818926e+05       7.681026e+04           1.303264
2022-03-07       3.204788e+06       2.865317e+05           1.272315
2022-03-08       1.072697e+06       1.343846e+05           1.297222
...                       ...                ...                ...
2025-02-27       3.803228e+06       3.668520e+05           0.246267
2025-02-28       5.260905e+06       1.103524e+06           0.241434
2025-03-01       1.735185e+06       3.048752e+05           0.242600
2025-03-02       2.645796e+06       1.549856e+05           0.257934
2025-03-03       3.288554e+06       3.017062e+05           0.224039

            deposit_volume_1inch_values  total_aave_value  top10_aave_value  \
date
2022-03-04                 2.056733e+06      42571.984071       3290.298640
2022-03-05                 4.879750e+05      29042.232606       2307.498234
2022-03-06                 4.977070e+05      43522.302435       2805.476791
2022-03-07                 4.077499e+06      42124.207499       3489.069942
2022-03-08                 1.391526e+06      62067.772506       4298.634368
...                                 ...               ...               ...
2025-02-27                 9.366078e+05      40869.534024       1596.943941
2025-02-28                 1.270160e+06      86249.033623       2593.382497
2025-03-01                 4.209558e+05      34732.715038       2622.500923
2025-03-02                 6.824401e+05      66852.434480       1782.590481
2025-03-03                 7.367630e+05      75479.895180       1886.264771

            price_aave_value  deposit_volume_aave_values  total_agld_value  \
date
2022-03-04        124.237944                5.289056e+06     187822.814382
2022-03-05        124.626507                3.619432e+06      70328.863204
2022-03-06        116.744400                5.080985e+06      82374.105816
2022-03-07        116.848711                4.922159e+06     132811.301358
2022-03-08        121.662670                7.551331e+06     200537.229693
...                      ...                         ...               ...
2025-02-27        204.445887                8.355608e+06     194402.472743
2025-02-28        192.733340                1.662306e+07     756153.123322
2025-03-01        194.992902                6.772633e+06      55675.539794
2025-03-02        223.616650                1.494932e+07     508839.241967
2025-03-03        180.764288                1.364407e+07     798615.745383

            top10_agld_value  ...  price_yfi_value  deposit_volume_yfi_values  \
date                          ...
2022-03-04      79980.295317  ...     19898.176161               5.638625e+06
2022-03-05      21195.506426  ...     20230.764769               4.098180e+06
2022-03-06      26507.098190  ...     18249.246060               1.609498e+07
2022-03-07      60422.897450  ...     18383.936974               4.738835e+06
2022-03-08      70187.910835  ...     19350.468552               1.218955e+07
...                      ...  ...              ...                        ...
2025-02-27      20121.740636  ...      5742.591416               3.600201e+05
2025-02-28      70800.526147  ...      5587.578484               1.146035e+06
2025-03-01      11932.353231  ...      5488.290935               7.018953e+04
2025-03-02      57156.005153  ...      6031.516003               3.720110e+05
2025-03-03     266160.751873  ...      5352.296786               1.100841e+06

            total_ygg_value  top10_ygg_value  price_ygg_value  \
date
2022-03-04     2.014622e+05     52947.791691         2.680537
2022-03-05     6.782995e+04     27256.427908         2.805942
2022-03-06     1.674982e+05     38040.417991         2.629533
2022-03-07     9.347204e+04     19481.005334         2.552631
2022-03-08     8.349913e+04     29563.198739         2.579784
...                     ...              ...              ...
2025-02-27     3.256335e+05     68879.228326         0.230023
2025-02-28     5.651241e+05    149022.164399         0.232825
2025-03-01     4.270069e+05    142518.337065         0.224900
2025-03-02     3.340401e+06    318725.234162         0.288950
2025-03-03     3.201012e+06    536063.354942         0.231933

            deposit_volume_ygg_values  total_zrx_value  top10_zrx_value  \
date
2022-03-04              540027.033242     1.025692e+07     1.289001e+06
2022-03-05              190326.900062     9.616107e+06     1.086923e+06
2022-03-06              440442.125790     5.447625e+06     9.699811e+05
2022-03-07              238599.678596     3.540881e+06     4.110167e+05
2022-03-08              215409.711996     1.064466e+07     2.628262e+06
...                               ...              ...              ...
2025-02-27               74903.294175     7.269034e+05     1.338422e+05
2025-02-28              131574.762198     8.087430e+05     1.630383e+05
2025-03-01               96033.859459     6.713653e+05     1.700669e+05
2025-03-02              965208.438950     1.525554e+06     2.446815e+05
2025-03-03              742420.058255     1.399642e+06     2.068107e+05

            price_zrx_value  deposit_volume_zrx_values
date
2022-03-04         0.495399               5.081273e+06
2022-03-05         0.501452               4.822015e+06
2022-03-06         0.479297               2.611031e+06
2022-03-07         0.472417               1.672772e+06
2022-03-08         0.498385               5.305144e+06
...                     ...                        ...
2025-02-27         0.296345               2.154144e+05
2025-02-28         0.299403               2.421402e+05
2025-03-01         0.289900               1.946288e+05
2025-03-02         0.317465               4.843094e+05
2025-03-03         0.271404               3.798690e+05

[1096 rows x 208 columns]

In [99]:
# 'volume'이 포함된 열만 추출
volume_cols = final_df.filter(like='volume')
print(volume_cols)

            deposit_volume_1inch_values  deposit_volume_aave_values  \
date
2022-03-04                 2.056733e+06                5.289056e+06
2022-03-05                 4.879750e+05                3.619432e+06
2022-03-06                 4.977070e+05                5.080985e+06
2022-03-07                 4.077499e+06                4.922159e+06
2022-03-08                 1.391526e+06                7.551331e+06
...                                 ...                         ...
2025-02-27                 9.366078e+05                8.355608e+06
2025-02-28                 1.270160e+06                1.662306e+07
2025-03-01                 4.209558e+05                6.772633e+06
2025-03-02                 6.824401e+05                1.494932e+07
2025-03-03                 7.367630e+05                1.364407e+07

            deposit_volume_agld_values  deposit_volume_alcx_values  \
date
2022-03-04                1.951870e+05               763078.136341
2022-03-05                7.464154e+04               799184.198417
2022-03-06                8.074300e+04               771812.705488
2022-03-07                1.296559e+05               880213.413492
2022-03-08                2.022030e+05               564761.077902
...                                ...                         ...
2025-02-27                2.779238e+05                63377.475768
2025-02-28                1.069044e+06                67544.631740
2025-03-01                7.521765e+04                22737.975863
2025-03-02                7.132536e+05                74288.019662
2025-03-03                9.616391e+05               123124.523467

            deposit_volume_alice_values  deposit_volume_amp_values  \
date
2022-03-04                 5.664317e+05               1.723831e+06
2022-03-05                 2.646968e+05               2.745597e+05
2022-03-06                 2.960985e+05               1.927159e+05
2022-03-07                 4.600541e+06               4.110857e+05
2022-03-08                 8.525145e+05               4.821080e+05
...                                 ...                        ...
2025-02-27                 3.368177e+04               4.683869e+05
2025-02-28                 2.356196e+04               8.906451e+05
2025-03-01                 1.750751e+04               2.706136e+06
2025-03-02                 2.411086e+04               1.979987e+06
2025-03-03                 2.188372e+04               1.273078e+06

            deposit_volume_ankr_values  deposit_volume_axs_values  \
date
2022-03-04                1.982779e+06               6.943472e+07
2022-03-05                2.300517e+06               3.743516e+06
2022-03-06                7.782173e+06               2.721777e+06
2022-03-07                6.860006e+06               5.035008e+06
2022-03-08                7.824650e+06               5.791166e+06
...                                ...                        ...
2025-02-27                1.190599e+05               3.476795e+05
2025-02-28                4.023661e+05               3.325655e+06
2025-03-01                1.040874e+05               6.827196e+05
2025-03-02                4.860914e+05               9.048161e+05
2025-03-03                3.265380e+05               8.412680e+05

            deposit_volume_bal_values  deposit_volume_bat_values  ...  \
date                                                              ...
2022-03-04               8.227869e+05               2.229867e+06  ...
2022-03-05               3.884108e+05               1.121157e+06  ...
2022-03-06               1.710313e+05               2.215398e+06  ...
2022-03-07               2.211574e+06               1.573517e+06  ...
2022-03-08               2.864013e+05               1.128049e+06  ...
...                               ...                        ...  ...
2025-02-27               1.469454e+05               1.507674e+05  ...
2025-02-28               7.526899e+04               1.895564e+05  ...
2025-03-01               9.735623e+04               1.922957e+05  ...
2025-03-02               2.819610e+05               3.538090e+05  ...
2025-03-03               2.263110e+05               2.759298e+05  ...

            deposit_volume_snx_values  deposit_volume_storj_values  \
date
2022-03-04               3.939243e+05                 1.104995e+06
2022-03-05               5.439042e+05                 7.785202e+05
2022-03-06               8.882561e+05                 6.913554e+05
2022-03-07               1.586735e+06                 7.310646e+05
2022-03-08               2.424919e+06                 5.202365e+05
...                               ...                          ...
2025-02-27               1.952006e+05                 1.176786e+06
2025-02-28               4.273794e+05                 4.216678e+05
2025-03-01               2.620685e+05                 3.940604e+05
2025-03-02               7.671983e+05                 4.788849e+05
2025-03-03               1.312075e+06                 7.071732e+05

            deposit_volume_sushi_values  deposit_volume_uma_values  \
date
2022-03-04                 1.625566e+06               1.034194e+07
2022-03-05                 1.190502e+06               2.145075e+06
2022-03-06                 2.703661e+06               3.157713e+06
2022-03-07                 5.081797e+06               2.494270e+06
2022-03-08                 4.547100e+06               2.600819e+06
...                                 ...                        ...
2025-02-27                 6.699644e+05               4.894175e+04
2025-02-28                 7.893918e+05               4.575580e+05
2025-03-01                 1.980622e+05               3.138944e+04
2025-03-02                 5.340313e+05               2.849410e+05
2025-03-03                 4.276684e+05               1.308650e+05

            deposit_volume_uni_values  deposit_volume_usdc_values  \
date
2022-03-04               3.841889e+06                1.032347e+09
2022-03-05               1.062123e+06                3.496432e+08
2022-03-06               2.093028e+06                5.169031e+08
2022-03-07               3.526708e+06                8.819737e+08
2022-03-08               4.318174e+06                1.104387e+09
...                               ...                         ...
2025-02-27               3.865153e+07                2.539184e+09
2025-02-28               8.534635e+06                4.718282e+09
2025-03-01               4.167552e+06                8.229741e+08
2025-03-02               2.109575e+07                2.086658e+09
2025-03-03               2.807764e+07                2.860852e+09

            deposit_volume_usdt_values  deposit_volume_yfi_values  \
date
2022-03-04                1.004821e+09               5.638625e+06
2022-03-05                3.416055e+08               4.098180e+06
2022-03-06                4.790215e+08               1.609498e+07
2022-03-07                9.692138e+08               4.738835e+06
2022-03-08                1.159992e+09               1.218955e+07
...                                ...                        ...
2025-02-27                2.005152e+09               3.600201e+05
2025-02-28                2.936302e+09               1.146035e+06
2025-03-01                1.171322e+09               7.018953e+04
2025-03-02                1.307583e+09               3.720110e+05
2025-03-03                1.888023e+09               1.100841e+06

            deposit_volume_ygg_values  deposit_volume_zrx_values
date
2022-03-04              540027.033242               5.081273e+06
2022-03-05              190326.900062               4.822015e+06
2022-03-06              440442.125790               2.611031e+06
2022-03-07              238599.678596               1.672772e+06
2022-03-08              215409.711996               5.305144e+06
...                               ...                        ...
2025-02-27               74903.294175               2.154144e+05
2025-02-28              131574.762198               2.421402e+05
2025-03-01               96033.859459               1.946288e+05
2025-03-02              965208.438950               4.843094e+05
2025-03-03              742420.058255               3.798690e+05

[1096 rows x 52 columns]

In [102]:
volume_cols.mean()

deposit_volume_1inch_values    1.634835e+06
deposit_volume_aave_values     6.900066e+06
deposit_volume_agld_values     8.060136e+05
deposit_volume_alcx_values     4.620880e+05
deposit_volume_alice_values    2.573703e+05
deposit_volume_amp_values      1.430029e+06
deposit_volume_ankr_values     1.525157e+06
deposit_volume_axs_values      2.527329e+06
deposit_volume_bal_values      5.255107e+05
deposit_volume_bat_values      1.116968e+06
deposit_volume_bnt_values      7.267763e+05
deposit_volume_btc_values      1.971504e+09
deposit_volume_chz_values      3.208060e+06
deposit_volume_comp_values     1.614754e+06
deposit_volume_crv_values      4.269359e+06
deposit_volume_dodo_values     1.453681e+05
deposit_volume_dydx_values     1.904498e+06
deposit_volume_enj_values      1.049248e+06
deposit_volume_ens_values      2.736216e+06
deposit_volume_ern_values      2.669174e+05
deposit_volume_eth_values      1.546062e+09
deposit_volume_fet_values      5.276818e+06
deposit_volume_ghst_values     2.181842e+05
deposit_volume_grt_values      3.371605e+06
deposit_volume_gtc_values      3.705701e+05
deposit_volume_hot_values      3.962602e+05
deposit_volume_ilv_values      9.790613e+05
deposit_volume_jasmy_values    3.455289e+06
deposit_volume_knc_values      1.372861e+06
deposit_volume_link_values     2.038060e+07
deposit_volume_mana_values     2.359591e+06
deposit_volume_mask_values     1.636039e+06
deposit_volume_matic_values    1.241309e+07
deposit_volume_mkr_values      4.385451e+06
deposit_volume_nmr_values      6.344240e+05
deposit_volume_ogn_values      8.161263e+05
deposit_volume_omg_values      8.204646e+05
deposit_volume_qnt_values      1.929773e+06
deposit_volume_sand_values     5.063135e+06
deposit_volume_shib_values     1.644098e+07
deposit_volume_skl_values      6.852805e+05
deposit_volume_slp_values      3.075872e+05
deposit_volume_snx_values      1.978355e+06
deposit_volume_storj_values    1.860535e+06
deposit_volume_sushi_values    1.728378e+06
deposit_volume_uma_values      6.741295e+05
deposit_volume_uni_values      7.243884e+06
deposit_volume_usdc_values     9.524322e+08
deposit_volume_usdt_values     1.001406e+09
deposit_volume_yfi_values      1.523753e+06
deposit_volume_ygg_values      7.121564e+05
deposit_volume_zrx_values      1.740000e+06
dtype: float64

In [109]:
# 최댓값을 갖는 열 추출
max_mean_col = volume_cols.mean().idxmax()
max_volume_col = volume_cols[max_mean_col]

print(f"최댓값을 갖는 열: {max_mean_col}")
print(max_volume_col)

최댓값을 갖는 열: deposit_volume_btc_values
date
2022-03-04    1.774846e+09
2022-03-05    7.036626e+08
2022-03-06    5.211025e+08
2022-03-07    1.667952e+09
2022-03-08    1.235010e+09
                  ...
2025-02-27    4.581654e+09
2025-02-28    4.995210e+09
2025-03-01    1.768501e+09
2025-03-02    2.382306e+09
2025-03-03    4.057208e+09
Name: deposit_volume_btc_values, Length: 1096, dtype: float64