In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import glob

In [37]:
# price_df = pd.DataFrame()

# num = 2018

# for i in range(7):
#     print(num)
#     print(f"test/price/daily/test_daily_price_{num}.csv")
#     temp_price_df = pd.read_csv(f"test/price/daily/test_daily_price_{num}.csv")
#     price_df = pd.concat([price_df, temp_price_df], axis = 0)
#     num += 1

# print(price_df)

In [38]:
# price_df.to_csv("test/price/daily/test_daily_price_total.csv", index=False)

price_df = pd.read_csv("test/price/daily/test_daily_price_total.csv")
price_df

,Open datetime,Open,High,Low,Close,Volume,Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume
0,2018-01-01,13716.36,13818.55,12750.00,13380.00,8609.915844,1.147997e+08,105595,3961.938946,5.280975e+07
1,2018-01-02,13382.16,15473.49,12890.02,14675.11,20078.092111,2.797171e+08,177728,11346.326739,1.580801e+08
2,2018-01-03,14675.11,15307.56,14150.00,14919.51,15905.667639,2.361169e+08,162787,8994.953566,1.335873e+08
3,2018-01-04,14919.51,15280.00,13918.04,15059.54,21329.649574,3.127816e+08,170310,12680.812951,1.861168e+08
4,2018-01-05,15059.54,17176.24,14600.00,16960.39,23251.491125,3.693220e+08,192969,13346.622293,2.118299e+08
...,...,...,...,...,...,...,...,...,...,...
2460,2024-09-26,63152.01,65839.00,62670.00,65173.99,28373.305930,1.831205e+09,4361333,15041.988600,9.711762e+08
2461,2024-09-27,65173.99,66498.00,64819.90,65769.95,22048.804870,1.448852e+09,3498529,11092.857160,7.291561e+08
2462,2024-09-28,65769.95,66260.00,65422.23,65858.00,9127.233160,6.001185e+08,1341703,4501.225340,2.960267e+08
2463,2024-09-29,65858.00,66076.12,65432.00,65602.01,8337.741110,5.479800e+08,1413449,4132.937800,2.716223e+08
2464,2024-09-30,65602.01,65618.80,62856.30,63327.59,30011.087520,1.920250e+09,3978584,14451.930440,9.243240e+08

In [39]:
price_df['Reversion_Returns'] = price_df['Close'].pct_change(5)

In [40]:
price_df = price_df.dropna()

In [41]:
price_df

,Open datetime,Open,High,Low,Close,Volume,Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume,Reversion_Returns
5,2018-01-06,16960.39,17143.13,16011.21,17069.79,18571.457508,3.092169e+08,158242,11007.164056,1.834178e+08,0.275769
6,2018-01-07,17069.79,17099.96,15610.00,16150.03,12493.125558,2.061947e+08,120269,6779.320508,1.121512e+08,0.100505
7,2018-01-08,16150.03,16322.30,12812.00,14902.54,26600.609912,3.965700e+08,208642,13756.844389,2.060496e+08,-0.001137
8,2018-01-09,14902.54,15500.00,14011.05,14400.00,14315.004253,2.106302e+08,156656,6841.233287,1.006986e+08,-0.043795
9,2018-01-10,14401.00,14955.66,13131.31,14907.09,17411.001655,2.440114e+08,161476,8529.554675,1.195701e+08,-0.121064
...,...,...,...,...,...,...,...,...,...,...,...
2460,2024-09-26,63152.01,65839.00,62670.00,65173.99,28373.305930,1.831205e+09,4361333,15041.988600,9.711762e+08,0.028809
2461,2024-09-27,65173.99,66498.00,64819.90,65769.95,22048.804870,1.448852e+09,3498529,11092.857160,7.291561e+08,0.034464
2462,2024-09-28,65769.95,66260.00,65422.23,65858.00,9127.233160,6.001185e+08,1341703,4501.225340,2.960267e+08,0.039754
2463,2024-09-29,65858.00,66076.12,65432.00,65602.01,8337.741110,5.479800e+08,1413449,4132.937800,2.716223e+08,0.020841
2464,2024-09-30,65602.01,65618.80,62856.30,63327.59,30011.087520,1.920250e+09,3978584,14451.930440,9.243240e+08,0.002780

In [42]:
price_df['Reversion_Returns_Abs'] = price_df['Reversion_Returns'].abs()
price_df['Reversion_Flag'] = price_df['Reversion_Returns'].apply(lambda x: 1 if x >= 0 else -1)

C:\Users\slaye\AppData\Local\Temp\ipykernel_24936\2833534814.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price_df['Reversion_Returns_Abs'] = price_df['Reversion_Returns'].abs()
C:\Users\slaye\AppData\Local\Temp\ipykernel_24936\2833534814.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price_df['Reversion_Flag'] = price_df['Reversion_Returns'].apply(lambda x: 1 if x >= 0 else -1)

In [43]:
price_df

,Open datetime,Open,High,Low,Close,Volume,Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume,Reversion_Returns,Reversion_Returns_Abs,Reversion_Flag
5,2018-01-06,16960.39,17143.13,16011.21,17069.79,18571.457508,3.092169e+08,158242,11007.164056,1.834178e+08,0.275769,0.275769,1
6,2018-01-07,17069.79,17099.96,15610.00,16150.03,12493.125558,2.061947e+08,120269,6779.320508,1.121512e+08,0.100505,0.100505,1
7,2018-01-08,16150.03,16322.30,12812.00,14902.54,26600.609912,3.965700e+08,208642,13756.844389,2.060496e+08,-0.001137,0.001137,-1
8,2018-01-09,14902.54,15500.00,14011.05,14400.00,14315.004253,2.106302e+08,156656,6841.233287,1.006986e+08,-0.043795,0.043795,-1
9,2018-01-10,14401.00,14955.66,13131.31,14907.09,17411.001655,2.440114e+08,161476,8529.554675,1.195701e+08,-0.121064,0.121064,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2460,2024-09-26,63152.01,65839.00,62670.00,65173.99,28373.305930,1.831205e+09,4361333,15041.988600,9.711762e+08,0.028809,0.028809,1
2461,2024-09-27,65173.99,66498.00,64819.90,65769.95,22048.804870,1.448852e+09,3498529,11092.857160,7.291561e+08,0.034464,0.034464,1
2462,2024-09-28,65769.95,66260.00,65422.23,65858.00,9127.233160,6.001185e+08,1341703,4501.225340,2.960267e+08,0.039754,0.039754,1
2463,2024-09-29,65858.00,66076.12,65432.00,65602.01,8337.741110,5.479800e+08,1413449,4132.937800,2.716223e+08,0.020841,0.020841,1
2464,2024-09-30,65602.01,65618.80,62856.30,63327.59,30011.087520,1.920250e+09,3978584,14451.930440,9.243240e+08,0.002780,0.002780,1

In [44]:
price_df['Reversion_Signals'] = price_df['Reversion_Returns_Abs'].apply(lambda x: 1 if x >= 0.1 else 0)

C:\Users\slaye\AppData\Local\Temp\ipykernel_24936\193143112.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price_df['Reversion_Signals'] = price_df['Reversion_Returns_Abs'].apply(lambda x: 1 if x >= 0.1 else 0)

In [45]:
price_df

,Open datetime,Open,High,Low,Close,Volume,Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume,Reversion_Returns,Reversion_Returns_Abs,Reversion_Flag,Reversion_Signals
5,2018-01-06,16960.39,17143.13,16011.21,17069.79,18571.457508,3.092169e+08,158242,11007.164056,1.834178e+08,0.275769,0.275769,1,1
6,2018-01-07,17069.79,17099.96,15610.00,16150.03,12493.125558,2.061947e+08,120269,6779.320508,1.121512e+08,0.100505,0.100505,1,1
7,2018-01-08,16150.03,16322.30,12812.00,14902.54,26600.609912,3.965700e+08,208642,13756.844389,2.060496e+08,-0.001137,0.001137,-1,0
8,2018-01-09,14902.54,15500.00,14011.05,14400.00,14315.004253,2.106302e+08,156656,6841.233287,1.006986e+08,-0.043795,0.043795,-1,0
9,2018-01-10,14401.00,14955.66,13131.31,14907.09,17411.001655,2.440114e+08,161476,8529.554675,1.195701e+08,-0.121064,0.121064,-1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2460,2024-09-26,63152.01,65839.00,62670.00,65173.99,28373.305930,1.831205e+09,4361333,15041.988600,9.711762e+08,0.028809,0.028809,1,0
2461,2024-09-27,65173.99,66498.00,64819.90,65769.95,22048.804870,1.448852e+09,3498529,11092.857160,7.291561e+08,0.034464,0.034464,1,0
2462,2024-09-28,65769.95,66260.00,65422.23,65858.00,9127.233160,6.001185e+08,1341703,4501.225340,2.960267e+08,0.039754,0.039754,1,0
2463,2024-09-29,65858.00,66076.12,65432.00,65602.01,8337.741110,5.479800e+08,1413449,4132.937800,2.716223e+08,0.020841,0.020841,1,0
2464,2024-09-30,65602.01,65618.80,62856.30,63327.59,30011.087520,1.920250e+09,3978584,14451.930440,9.243240e+08,0.002780,0.002780,1,0

In [46]:
price_df['Reversion_Signals_Returns'] = price_df['Reversion_Signals'] * price_df['Reversion_Returns']

C:\Users\slaye\AppData\Local\Temp\ipykernel_24936\4189219683.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price_df['Reversion_Signals_Returns'] = price_df['Reversion_Signals'] * price_df['Reversion_Returns']

In [47]:
price_df['Reversion_Signals'] = price_df['Reversion_Signals'] * price_df['Reversion_Flag']

C:\Users\slaye\AppData\Local\Temp\ipykernel_24936\1539109517.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  price_df['Reversion_Signals'] = price_df['Reversion_Signals'] * price_df['Reversion_Flag']

In [48]:
price_df['Reversion_Signals'].value_counts()

Reversion_Signals
 0    2009
 1     258
-1     193
Name: count, dtype: int64

In [49]:
price_df.to_csv("test_daily_price_total_reversion_preprocessed.csv", index=False)