In [109]:
import pandas as pd
import numpy as np

In [110]:
avg_confirmation_time_df = pd.read_csv('./special_features_data/avg-confirmation-time.csv')
market_cap_df = pd.read_csv('./special_features_data/market-cap.csv')
mempool_count_df = pd.read_csv('./special_features_data/mempool-count.csv')
mempool_growth_df = pd.read_csv('./special_features_data/mempool-growth.csv')
mempool_size_df = pd.read_csv('./special_features_data/mempool-size.csv')
n_payments_per_block_df = pd.read_csv('./special_features_data/n-payments-per-block.csv')
n_payments_df = pd.read_csv('./special_features_data/n-payments.csv')
total_bitcoins_df = pd.read_csv('./special_features_data/total-bitcoins.csv')
transactions_per_second_df = pd.read_csv('./special_features_data/transactions-per-second.csv')
utxo_count_df = pd.read_csv('./special_features_data/utxo-count.csv')

In [111]:
# 각 DataFrame의 'timestamp' 컬럼을 datetime으로 변환하고 인덱스로 설정
dataframes = [
    avg_confirmation_time_df,
    market_cap_df,
    mempool_count_df,
    mempool_growth_df,
    mempool_size_df,
    n_payments_per_block_df,
    n_payments_df,
    total_bitcoins_df,
    transactions_per_second_df,
    utxo_count_df
]

for df in dataframes:
    df['timestamp'] = pd.to_datetime(df['timestamp'])
    df.set_index('timestamp', inplace=True)

In [112]:
# 일별 평균 계산 (하루 단위로 리샘플링)
daily_avg = avg_confirmation_time_df.resample('D').mean()
daily_avg.index = daily_avg.index.date
daily_avg.to_csv('./special_features_data/avg-confirmation-time_preprocessed.csv')
daily_avg

            avg-confirmation-time
2016-04-21              16.589743
2016-04-22              18.472807
2016-04-23              18.296373
2016-04-24              16.939513
2016-04-25              18.311295
...                           ...
2024-10-30              87.727388
2024-10-31             586.592042
2024-11-01             261.592193
2024-11-02             224.992459
2024-11-03            2536.251728

[3119 rows x 1 columns]

In [113]:
# 일별 평균 계산 (하루 단위로 리샘플링)
daily_avg = market_cap_df.resample('D').last()
daily_avg.index = daily_avg.index.date
daily_avg
daily_avg.to_csv('./special_features_data/market-cap_preprocessed.csv')

In [114]:
# 일별 평균 계산 (하루 단위로 리샘플링)
daily_avg = mempool_count_df.resample('D').last()
daily_avg.index = daily_avg.index.date
daily_avg
daily_avg.to_csv('./special_features_data/mempool-count_preprocessed.csv')

In [115]:
# 일별 평균 계산 (하루 단위로 리샘플링)
daily_avg = mempool_growth_df.resample('D').mean()
daily_avg.index = daily_avg.index.date
daily_avg
daily_avg.to_csv('./special_features_data/mempool-growth_preprocessed.csv')

In [116]:
# 일별 평균 계산 (하루 단위로 리샘플링)
daily_avg = mempool_size_df.resample('D').mean()
daily_avg.index = daily_avg.index.date
daily_avg
daily_avg.to_csv('./special_features_data/mempool-size_preprocessed.csv')

In [117]:
# 일별 평균 계산 (하루 단위로 리샘플링)
daily_avg = n_payments_per_block_df.resample('D').mean()
daily_avg.index = daily_avg.index.date
daily_avg
daily_avg.to_csv('./special_features_data/n-payments-per-block_preprocessed.csv')

In [118]:
# 일별 평균 계산 (하루 단위로 리샘플링)
daily_avg = n_payments_df.resample('D').mean()
daily_avg.index = daily_avg.index.date
daily_avg
daily_avg.to_csv('./special_features_data/n-payments_preprocessed.csv')

In [119]:
# 일별 평균 계산 (하루 단위로 리샘플링)
daily_avg = total_bitcoins_df.resample('D').last()
daily_avg.index = daily_avg.index.date
daily_avg
daily_avg.to_csv('./special_features_data/total-bitcoins_preprocessed.csv')

In [120]:
# 일별 평균 계산 (하루 단위로 리샘플링)
daily_avg = utxo_count_df.resample('D').mean()
daily_avg.index = daily_avg.index.date
daily_avg
daily_avg.to_csv('./special_features_data/utxo-count_preprocessed.csv')

In [121]:
test_df = pd.read_csv('test_df_250215.csv')
test_df = test_df.set_index('date')
test_df

,transaction_count,transaction_amount,transaction_flag,returns,close,abs_returns,volume,open,high,low,...,n-transactions-total,n-transactions,n-unique-addresses,output-volume,trade-volume,transaction-fees-usd,transaction-fees,n-payments-per-block,n-payments,avg-confirmation-time
date,,,,,,,,,,,,,,,,,,,,,
2017-01-01,0,0.000000e+00,0,NaN,4285.08,NaN,795.150377,4261.48,4485.39,4200.74,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-02,0,0.000000e+00,0,-0.041238,4108.37,0.041238,1199.888264,4285.08,4371.52,3938.77,...,1.839618e+08,290951.0,529709.0,1.573982e+06,6.822471e+06,114872.988609,112.884147,NaN,NaN,NaN
2017-01-03,0,0.000000e+00,0,0.007694,4139.98,0.007694,381.309763,4108.37,4184.69,3850.00,...,1.842534e+08,301664.0,515024.0,1.950525e+06,8.324526e+06,120759.971352,117.508697,NaN,NaN,NaN
2017-01-04,0,0.000000e+00,0,-0.012969,4086.29,0.012969,467.083022,4139.98,4211.08,4032.62,...,1.845561e+08,328642.0,545609.0,2.482038e+06,9.340584e+06,214902.266038,193.337436,NaN,NaN,NaN
2017-01-05,1,3.936639e+13,1,-0.017201,4016.00,0.017201,691.743060,4086.29,4119.62,3911.79,...,1.848845e+08,288501.0,495910.0,2.998215e+06,2.387011e+07,121958.044759,114.991943,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-09-26,0,0.000000e+00,0,0.032018,65173.99,0.032018,28373.305930,63152.01,65839.00,62670.00,...,1.086041e+09,474766.0,515965.0,8.415049e+05,NaN,568078.359074,8.530836,6348.207692,825267.0,190.793990
2024-09-27,1,1.076363e+12,1,0.009144,65769.95,0.009144,22048.804870,65173.99,66498.00,64819.90,...,1.086516e+09,451723.0,549045.0,8.076291e+05,NaN,734594.752719,11.071403,6157.496350,843577.0,61.365461
2024-09-28,0,0.000000e+00,0,0.001339,65858.00,0.001339,9127.233160,65769.95,66260.00,65422.23,...,1.086966e+09,507707.0,477266.0,4.624474e+05,NaN,667521.876248,10.057609,6670.612403,860509.0,75.537497
2024-09-29,0,0.000000e+00,0,-0.003887,65602.01,0.003887,8337.741110,65858.00,66076.12,65432.00,...,1.087474e+09,687427.0,462111.0,4.892956e+05,NaN,496190.298458,7.532710,6508.270968,1008782.0,127.982783
2024-09-30,2,7.738510e+12,1,-0.034670,63327.59,0.034670,30011.087520,65602.01,65618.80,62856.30,...,1.088162e+09,594224.0,513555.0,9.862190e+05,NaN,470098.750598,7.329882,6701.992701,918173.0,84.141097

In [122]:
avg_confirmation_time_df = pd.read_csv('./special_features_data/avg-confirmation-time_preprocessed.csv')
market_cap_df = pd.read_csv('./special_features_data/market-cap_preprocessed.csv')
mempool_count_df = pd.read_csv('./special_features_data/mempool-count_preprocessed.csv')
mempool_growth_df = pd.read_csv('./special_features_data/mempool-growth_preprocessed.csv')
mempool_size_df = pd.read_csv('./special_features_data/mempool-size_preprocessed.csv')
n_payments_per_block_df = pd.read_csv('./special_features_data/n-payments-per-block_preprocessed.csv')
n_payments_df = pd.read_csv('./special_features_data/n-payments_preprocessed.csv')
total_bitcoins_df = pd.read_csv('./special_features_data/total-bitcoins_preprocessed.csv')
transactions_per_second_df = pd.read_csv('./special_features_data/transactions-per-second_preprocessed.csv')
utxo_count_df = pd.read_csv('./special_features_data/utxo-count_preprocessed.csv')


# 각 DataFrame의 'timestamp' 컬럼을 datetime으로 변환하고 인덱스로 설정
dataframes = [
    avg_confirmation_time_df,
    market_cap_df,
    mempool_count_df,
    mempool_growth_df,
    mempool_size_df,
    n_payments_per_block_df,
    n_payments_df,
    total_bitcoins_df,
    transactions_per_second_df,
    utxo_count_df
]

df_columns = ['date']
for df in dataframes:
    df.columns = df_columns+[df.columns[-1]]
    df = df.set_index('date', inplace=True)

In [123]:
avg_confirmation_time_df

            avg-confirmation-time
date
2016-04-21              16.589743
2016-04-22              18.472807
2016-04-23              18.296373
2016-04-24              16.939513
2016-04-25              18.311295
...                           ...
2024-10-30              87.727388
2024-10-31             586.592042
2024-11-01             261.592193
2024-11-02             224.992459
2024-11-03            2536.251728

[3119 rows x 1 columns]

In [124]:
test_df['avg-confirmation-time'] = avg_confirmation_time_df['avg-confirmation-time']
test_df['market-cap'] = market_cap_df['market-cap']
test_df['mempool-count'] = mempool_count_df['mempool-count']
test_df['mempool-growth'] = mempool_growth_df['mempool-growth']
test_df['mempool-size'] = mempool_size_df['mempool-size']
test_df['n-payments-per-block'] = n_payments_per_block_df['n-payments-per-block']
test_df['n-payments'] = n_payments_df['n-payments']
test_df['total-bitcoins'] = total_bitcoins_df['total-bitcoins']
test_df['transactions-per-second'] = transactions_per_second_df['transactions-per-second']
test_df['utxo-count'] = utxo_count_df['utxo-count']

In [125]:
test_df

,transaction_count,transaction_amount,transaction_flag,returns,close,abs_returns,volume,open,high,low,...,n-payments-per-block,n-payments,avg-confirmation-time,market-cap,mempool-count,mempool-growth,mempool-size,total-bitcoins,transactions-per-second,utxo-count
date,,,,,,,,,,,,,,,,,,,,,
2017-01-01,0,0.000000e+00,0,NaN,4285.08,NaN,795.150377,4261.48,4485.39,4200.74,...,NaN,NaN,13.764887,1.553222e+10,3544.682292,1011.218333,3.104763e+06,1.607555e+07,2.373958,4.398171e+07
2017-01-02,0,0.000000e+00,0,-0.041238,4108.37,0.041238,1199.888264,4285.08,4371.52,3938.77,...,NaN,NaN,33.871581,1.608178e+10,11149.453125,1259.285330,7.120700e+06,1.607741e+07,2.669401,4.401924e+07
2017-01-03,0,0.000000e+00,0,0.007694,4139.98,0.007694,381.309763,4108.37,4184.69,3850.00,...,NaN,NaN,37.460730,1.645105e+10,5283.088542,1427.514149,5.860928e+06,1.607973e+07,3.308854,4.410011e+07
2017-01-04,0,0.000000e+00,0,-0.012969,4086.29,0.012969,467.083022,4139.98,4211.08,4032.62,...,NaN,NaN,22.534505,1.701469e+10,9530.031250,1500.533203,6.113684e+06,1.608158e+07,3.564236,4.420182e+07
2017-01-05,1,3.936639e+13,1,-0.017201,4016.00,0.017201,691.743060,4086.29,4119.62,3911.79,...,NaN,NaN,36.568867,1.748734e+10,15904.093750,1651.335503,1.006931e+07,1.608344e+07,3.817535,4.429185e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-09-26,0,0.000000e+00,0,0.032018,65173.99,0.032018,28373.305930,63152.01,65839.00,62670.00,...,6348.207692,825267.0,190.793990,1.261801e+12,109414.484375,1500.079965,8.340507e+07,1.975864e+07,5.221979,1.869933e+08
2024-09-27,1,1.076363e+12,1,0.009144,65769.95,0.009144,22048.804870,65173.99,66498.00,64819.90,...,6157.496350,843577.0,61.365461,1.273272e+12,132812.848958,1457.251354,9.080437e+07,1.975902e+07,5.043299,1.868819e+08
2024-09-28,0,0.000000e+00,0,0.001339,65858.00,0.001339,9127.233160,65769.95,66260.00,65422.23,...,6670.612403,860509.0,75.537497,1.283233e+12,134030.536458,1485.720139,9.488902e+07,1.975941e+07,5.277170,1.868041e+08
2024-09-29,0,0.000000e+00,0,-0.003887,65602.01,0.003887,8337.741110,65858.00,66076.12,65432.00,...,6508.270968,1008782.0,127.982783,1.299466e+12,120189.119792,1408.774722,9.358117e+07,1.975998e+07,5.958958,1.868092e+08
2024-09-30,2,7.738510e+12,1,-0.034670,63327.59,0.034670,30011.087520,65602.01,65618.80,62856.30,...,6701.992701,918173.0,84.141097,1.294020e+12,127221.505208,1619.619583,9.422174e+07,1.976036e+07,6.520486,1.868301e+08

In [126]:
test_df.to_csv('test_df_250215.csv')